<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/resources/css/cravitae.css">
  

  <title>Home - Cravitae</title>
</head>

<body>

    <!-- Header -->
  <header>
    <div class="logo">
      <span class="cravitae">Cravitae</span>
    </div>

    <nav class="menu">
      <span></span>
      <a href="../views/home.html" class="navbar">Home</a>
      <a href="#" class="navbar">About</a>
    </nav>

    <div class="acc-signout">
      <div class="frame-acc-signout">
        <div class="circle-acc">
          <div class="one-font">
            C
          </div>
        </div>
        <div class="name-font">
          Cravitae
        </div>
      </div>
      <div class="sign-out">
        Sign Out →
      </div>
    </div>
  </header>
  <!-- End Header -->


  <!-- About - Page Registered -->

  <div class="creator1">
    <div class="container-box">
      <img class="image-female" src="../img/image-female.png" alt="Profile Image">
      <div class="frame-aboutme">
        <div class="name-aboutme">
          <div class="name-creator">
            Athalie Aurora
          </div>
          <div class="github-box">
            <a href="https://github.com/athalie-aurora" class="github-text">github</a>
          </div>
        </div>
        <div class="deskripsi-me">
          I am an enthusiastic technology enthusiast.
          I enjoy exploring the latest innovations and learning how technology can reshape the world. 
        </div>
      </div>
    </div>
  </div>

  <div class="creator2">
    <div class="container-box">
      <img class="image-gentleman " src="../img/image-gentleman.png" alt="Profile Image">
      <div class="frame-aboutme">
        <div class="name-aboutme">
          <div class="name-creator">
            Canandra Eka
          </div>
          <div class="github-box">
            <a href="https://github.com/Quineeryn" class="github-text">github</a>
          </div>
        </div>
        <div class="deskripsi-me">
          I'm a college student 
        </div>
      </div>
    </div>
  </div>

  <div class="creator3">
    <div class="container-box">
      <img class="image-female " src="../img/image-female.png" alt="Profile Image">
      <div class="frame-aboutme">
        <div class="name-aboutme">
          <div class="name-creator">
            Fathia Qurrata
          </div>
          <div class="github-box">
            <a href="https://github.com/fathiaqurrata" class="github-text">github</a>
          </div>
        </div>
        <div class="deskripsi-me">
          I'm a college student 
        </div>
      </div>
    </div>
  </div>

  
  <div class="creator4">
    <div class="container-box">
      <img class="image-female " src="../img/image-female.png" alt="Profile Image">
      <div class="frame-aboutme">
        <div class="name-aboutme">
          <div class="name-creator">
            Xaviera Sadiya
          </div>
          <div class="github-box">
            <a href="https://github.com/XavieraSal" class="github-text">github</a>
          </div>
        </div>
        <div class="deskripsi-me">
          I'm a college student 
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <!-- Untuk Konten -->
  </div>

  <footer>
    <p>&copy; 2023 Cravitae</p>
  </footer>
</body>

</html>